# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Build files
build/

# Out files
out/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear

# Other file
*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
.externalNativeBuild

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
