<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.qingyu.miui.contentextension" >

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:label="FuckContentExtension"
    android:theme="@android:style/Theme.DeviceDefault.Light"
    android:resizeableActivity="true">

    <meta-data
      android:name="xposedmodule"
      android:value="true"/>
    <meta-data
      android:name="xposeddescription"
      android:value="去你的MIUI传送门小米浏览器和搜索"/>
    <meta-data
      android:name="xposedminversion"
      android:value="82"/>
  </application>

</manifest>
