<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="FuckContentExtension"
        tools:ignore="MissingApplicationIcon">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <meta-data
            android:name="xposeddescription"
            android:value="仅适用于MIUI，去你的传送门小米浏览器和搜索\n酷安@yangyiyu08" />

        <meta-data
            android:name="xposedminversion"
            android:value="93" />

        <meta-data
            android:name="xposedscope"
            android:value="com.miui.contentextension" />
    </application>
</manifest>